[submodule "formulas/users"]
	path = roots/formulas/users
	url = https://github.com/saltstack-formulas/users-formula.git
[submodule "formulas/openssh"]
	path = roots/formulas/openssh
	url = https://github.com/saltstack-formulas/openssh-formula.git
[submodule "roots/formulas/salt"]
	path = roots/formulas/salt
	url = https://github.com/saltstack-formulas/salt-formula.git
[submodule "roots/formulas/ntp"]
	path = roots/formulas/ntp
	url = https://github.com/saltstack-formulas/ntp-formula.git
