! Molokai theme
*urxvt*background: #101010
*urxvt*foreground: #d0d0d0
*urxvt*cursorColor: #d0d0d0
*urxvt*color0: #101010
*urxvt*color1: #960050
*urxvt*color2: #66aa11
*urxvt*color3: #c47f2c
*urxvt*color4: #30309b
*urxvt*color5: #7e40a5
*urxvt*color6: #3579a8
*urxvt*color7: #9999aa
*urxvt*color8: #303030
*urxvt*color9: #ff0090
*urxvt*color10: #80ff00
*urxvt*color11: #ffba68
*urxvt*color12: #5f5fee
*urxvt*color13: #bb88dd
*urxvt*color14: #4eb4fa
*urxvt*color15: #d0d0d0

!! --- XLock ---
XLock.clock.count: 1
XLock.clock.size: 0
XLock.description: False
Xlock.echokeys: True
XLock.echokey: *
XLock.erasemode: no_fade

!! --- Xterm ---
xterm*boldColors: false
xterm*borderWidth: 0 
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*cursorBlind: true
xterm*cutNewLine: false
xterm*dynamicColors: true
xterm*faceName: monospace
xterm*faceSize: 10 
xterm*internalBorder: 4
xterm*pointerMode: 2
xterm*renderFont: true
xterm*selectToClipboard: true
xterm*termName: xterm-256color
xterm*toolBar: false

!! --- URxvt ---
URxvt.font:xft:Source Code Pro-11:xft:Terminus-11:hint=True:antialias=False,xft:WenQuanYi Micro Hei:pixelsize=14:antialias=False
URxvt.boldFont:xft:Source Code Pro-11:xft:Terminus-11:bold:hint=True:antialias:False,xft:WenQuanYi Micro Hei:pixelsize=11:antialias=True,xft:Code2000:pixelsize=12:antialias=False
URxvt*intensityStyles: false
URxvt*internalBorder: 1
URxvt.keysym.C-plus: command:\033]710;xft:monospace:size=9\007\033]711;xft:monospace:size=9\007
URxvt.keysym.C-minus: command:\033]710;xft:monospace:size=8\007\033]711;xft:monospace:size=8\007
#URxvt*transparent: true
#URxvt*.shading:  25

URxvt.inputMethod: ibus
URxvt.preeditType: OnTheSpot,None

URxvt*scrollBar_right: false
URxvt*scrollBar: false

URxvt.perl-ext-common: default,matcher,tabbed
URxvt.tabbed.tabbar-bg: -1


!! --- Fonts ---
!! https://wiki.archlinux.org/index.php/Font_Configuration
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!! --- Cursor ---
!! Xcursor.theme: Vanilla-DMZ-AA 
!! Xcursor.size: 48


!! source: https://github.com/lkraav/dotfiles/blob/master/.Xresources
!! color source: https://github.com/baskerville/xresources-color-schemes
