username: yourusername
fullname: Full Name

{%- if grains['os'] == 'MacOS' %}
etc_dir: /opt/local/etc/
var_dir: /opt/local/var/
logs_dir: /opt/local/var/log/
{%- else %}
etc_dir: /etc/
var_dir: /var/
logs_dir: /var/log/
{%- endif %}

www_dir: /srv/www/


study: 
  node:
    git: {
      node-querystring: 'https://github.com/visionmedia/node-querystring.git',
      highlight.js: 'https://github.com/isagalaev/highlight.js.git',
      thrift: 'https://github.com/apache/thrift.git',
      thrift-python-node-example: 'https://github.com/likwid/thrift-python-node-example.git'
    }

mysql-version: 5.5

# vim: filetype=sls
